:root {
  /* declare a variable with `--` syntax */
  --dark: #2a607c;
  --light: #fff;
  --navlink-color: #b9c6ae;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--light);
    font-size: 25px;
    font-family: Serriff;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

h1 {
  /* 4rem = 40px (4 * 10px) */
  font-size: 4rem;
}

.header {
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: var(--dark);
    color:var(--light)fff;
    align-items: center;
}
#header{
  background-color: var(--dark);
}

.header h1 {
    display: inline-block;
    font-family: sans-serif;
    font-size: 48px;
    color:black;
    background: rgb(143, 227, 227);
}

.header div {
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
    border-bottom: 2px solid rgba(149, 235, 235, 0.584);
}

a {
    color: teal;
    text-decoration: none;
}

p {
    font-size: 16px;
    justify-content: left;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting1.jpg");
    background-size: cover;
    background-position: center;
} 

.float-container {
  width: 80%;
  margin-left: 5%;
  display: grid; 
  grid-template-columns: 0.2fr 1fr; 
  row-gap: 15px; 
}

.float-child {
    width: 100%;
    float: left;
    border: 2px solid black;
    margin:0 auto;
}  

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

section {
  flex: 0 0 250px;
  background-color:var(--light);
  padding: 20px;
}

img {
  width: 100%;
}
  
#about-me, #contact-me, #work {
  text-align: right;
  justify-content: right;
  padding-right: 10px;
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  border-right:none;
}

#w70-container {
  width: 100%;
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none; 
  padding-left: 20px;
  
}

#w70-container img{
  border: 1px solid teal; 
}

.half img{
  width: 50%;
  height: 300px
 }

#footerlinks { margin: 0; padding: 0;
  width: auto; } 
#footerlinks li { text-align: center; display: inline-block; }

.float-container li {
    padding-top: 0;
    margin-right: 20px;
    float: left;
    list-style-type: none;
    display: flex;
    justify-content: space-between;   
}

.parent {
  border: 1px solid black;
  text-align: center;
}
.child {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}

.grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 30px; 
  width: 100%; 
} 
.grid-child-element { 
  margin: 1px; 
  border: 1px solid teal; 
}

.footerlinks a {
  text-decoration: underline;
  text-underline-offset: 6px;
}
