:root {
  /* declare a variable with `--` syntax */
  --dark: #13293d;
  --bgcolor: lightgray;
  --text_color: rgb(143, 227, 227)
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: .50px;
  font-size: 25px;
  font-family: Serriff;
}

body {
  background-color: var(--bgcolor);
  /* Turns this element into a flexbox */
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  font-family: Arial;
}

header {
  display: flex;
   /* Defines how to distribute the empty space between child elements */
  justify-content: space-between;
  align-items: center;
  background-color: var(--dark);
  color:var(--bgcolor);
  padding: 5px 5px;
}

h1 {
  display: inline-block;
  font-size: 1.25rem;
  color:var(--text_color);
}

h2{
  font-size: 1.00rem;
}

h3{
  font-size: .75rem;
}

header section {
  display: flex;
  float: right;
  align-items: center;
}

header section ul {
  list-style-type: none;
}

header section ul li {
  display: flex;
  justify-content: space-between;
  display: inline-block;
  margin-left: 15px;
  border-bottom: 2px solid var(--text_color);
}

a {
  color: var(--text_color);
  text-decoration: none;
}

p {
  justify-content: left;
}

.logo {
  height: 350px;
  width: 100%;
  margin-bottom: 40px;
  background-image: url("../images/logo11.jpg");
  background-size: cover;
  background-position: center;
} 

.container {
  width: 80%;
  margin-left: 5%;
  display: grid; 
  grid-template-columns: 0.075fr 1fr; 
  row-gap: 10px; 
  height: 30%;
  margin-bottom: 0.5%;
}

.float-child-right {
  width: 100%;
  float: left;
  border: 2px solid black;
  margin:0 auto;
}  

main {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

/* section {
  flex: 0 0 100%;
  /* background-color:var(--bgcolor); */
  /* padding: 20px; */
/* }   */ 

img {
  background-color: #fff;
  width: 100%;
  padding: 5px;
  height: 25%;
  border: 1px solid black;
}
  
.float-child-left{
  border-top-style: none;
  border-bottom-style: none;
  border-left-style: none;
  text-align: right;
  margin-right: 10px;
  height: 70%;
}

.float-child-right{
  width: 100%;
  /* height: 70%; */
  border-top-style: none;
  border-bottom-style: none;
  border-right-style: none; 
  padding-left: 20px;
  
}

.big-image img{
  height: 70%
}

.grid-container-element img{
  width:100%;
  height: 100%
 }

.container li {
  margin-right: 20px;
  /* float: left;  */
  list-style-type: none;
  display: flex;
  display: inline-block;
  justify-content: space-between;  
}

.grid-container-element { 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 30px; 
  width: 100%; 
} 
.grid-child-element { 
  margin: 1px; 
  border: 0.5px solid teal; 
}

.contactlinks a {
  text-decoration: underline;
  text-underline-offset: 6px;
  color: var(--dark);
}

.contactlinks{
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  padding: 1%;
  background-color: var(--dark);
  color: var(--text_color);
}
